.ant-btn-primary {
  color: #000;
  border: none !important;
  background: #ffffff;
  text-shadow: none !important;
  box-shadow: none !important;
}
.ant-modal-content {
  border-radius: 8px !important;
}
