.sContainTwo {
  cursor: pointer;
  position: relative;
  &::after {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 10%,
      hsla(0, 0%, 100%, 0) 40%
    );
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    width: 100%;
    opacity: 0;
    pointer-events: none;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
    .hover-rise {
      transform: translateY(-1rem);
    }
  }

  .slide__title {
    z-index: 1;
  }
}
