.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: var(--primaryColor) !important;
}
.ant-checkbox-checked:after {
  border: none !important;
}
.ant-checkbox-inner {
  border: 1px solid #bfbfbf !important;
}

.show-cart .modal-overlay {
  opacity: 0.8;
  visibility: visible;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  z-index: 95;
}
.mainCart {
  &::-webkit-scrollbar {
    width: 0px;
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-clip: content-box;
    background-image: linear-gradient(
      to bottom,
      var(--secondaryColor),
      var(--secondaryColor),
      var(--secondaryColor)
    );
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
