.actionBtn{
    font-size: 20px;
    cursor: pointer;
    padding: 0 5px;
    }.deleteBtn:hover{
        color: red;
    }.editBtn:hover{
        color: green;
    }

    .ant-popover-inner{
        .ant-popover-buttons{
            .ant-btn{
                background-color: transparent;
                color: black;
                border: 1px solid black;
                padding: 0 20px
            }
        }
    }
    