@font-face {
  font-family: "ITCGara";
  src: url("/fonts/ITCGaramondStd-BkCond.woff2") format("woff2");
}
@font-face {
  font-family: "TradeGodthicCn";
  src: url("/fonts/TradeGothicNextLTPro-Cn.woff2") format("woff2");
}
@font-face {
  font-family: "TradeGodthic-BoldCm";
  src: url("/fonts/TradeGothicNextLTPro-BdCm.woff2") format("woff2");
}
@font-face {
  font-family: "TradeGodthic-BoldCn";
  src: url("/fonts/TradeGothicNextLTPro-BdCn.woff2") format("woff2");
}
.ITCGara {
  font-family: "ITCGara";
}
.TradeGodthicCn {
  font-family: "TradeGodthicCn";
}
.TradeGodthic-BoldCm {
  font-family: "TradeGodthic-BoldCm";
}
.TradeGodthic-BoldCn {
  font-family: "TradeGodthic-BoldCn";
}
